h1{
	color:blue;
}


p{
	font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

	
}

li {
    float: left;
	font-size: 20px;
	font-weight: 900;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	
	

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    color: white;
    background-color: #111;
    text-decoration: none;
}

img{
    left: 0px;
    top: 0px;
    z-index: -1;
    float: left;
    margin-right: 5px;
    margin-top: 20px;
	position:absolute;
}
#logo{
    width: 240px;
    height: 200px;
}

#campus{
    width: 700px;
    height: 200px;
    left: 300px;
}

#meny{
	left:15%;
    bottom:0px;
	height:auto;
	width:auto;
	position:absolute;

}

.footer{
    bottom: 0px;
    
}

#box1, #box2{
    width:555px;
    height:720px;
    margin-right:10px;
    float:left;
	position:relative;
}


#header{
	height: 300px;
	width: auto;
	position:relative;

	
}
#Content{
	height:720px;
	width:auto;
	margin:auto;
	
	
}


#footer{
	height: 200px;
	width: auto;
	position:relative;
	
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
